/* Provide sufficient contrast against white background */

@font-face {
    font-family: "IconFont";
    src: url("/Legistek-Custom.woff") format('woff');
}

span {
    transform: translate(0px, 2%);
}