/* Provide sufficient contrast against white background */

body {
    /*all: unset;*/
    margin: 0px;
    line-height: normal;
    -webkit-user-drag: none;
    user-select: none;
}

.amx-ptn-fe .ms-List-cell 
{
    min-height: 0px;
}

.amx-ptn-fe {
    position: relative;
    border-style: solid;
    border-width: 0px;
    box-shadow: unset;
    box-sizing: border-box;    
    overflow: hidden;
    width: auto;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    /*display: flex;
    flex-direction: column;*/
    top: 0px;
    bottom: 0px;
}

.amx-ptn-grid {
    display: grid;
    height: auto;
}

/*
.amx-ptn-listbox .cell-94 {
    padding: 0px;
    min-height: 0px;
}

.amx-ptn-listbox .ms-List-cell {
    min-height: 0px;
}
*/


.amx-ptn-root {
    max-height: 100%;
    overflow: hidden;
    flex-direction: column;
    top: 0px;
    bottom: 0px;
    display: flex;
    position: fixed;
    overflow: hidden;
    width: auto;
    left: 0;
    right: 0;
    max-width: 100%;
}

.amx-ptn-ha-center {
    margin-left: auto !important;
    margin-right: auto !important;
    width: fit-content;
}

.amx-ptn-ha-right {
    margin-left: auto !important;
    margin-right: 0px !important;
    width: unset;
}

.amx-ptn-ha-left {
    margin-left: 0px;
    margin-right: auto !important;
    width: fit-content;
}

.amx-ptn-ha-stretch {
    left: 0px;
    right: 0px;
    width: auto;
}

.amx-ptn-va-center {
    align-self: center;
    height: fit-content;
    margin-top: 0;
    margin-bottom: 0;
}

/* Children of grids set to vertical stretch don't need to have stretch height themselves */
.amx-ptn-grid > .amx-ptn-va-stretch.amx-ptn-grid {
    height: auto;
}

.ms-DetailsRow-check.ms-Check-checkHost {
    height: 100%;
}

.amx-ptn-datagridcell {
    display: flex;
    height: 100%;
}

.amx-ptn-datagridcell > .amx-ptn-ha-stretch {
    width: 100%;
}

.amx-ptn-fe > .amx-ptn-va-stretch {
    max-height: 100%;
    overflow: hidden;
    flex-direction: column;
    top: 0px;
    bottom: 0px;
    height: 100%;
}

.amx-ptn-stack-panel:not(.horizontal) > .amx-ptn-va-stretch {
    height: auto;
}

.amx-ptn-va-bottom {
    margin-top: auto;
    margin-bottom: 0px;
}

.amx-ptn-overlaps {
    position: absolute;
}

.amx-ptn-border {
}

/*:not(.amx-ptn-ha-left):not(.amx-ptn-ha-center):not(.amx-ptn-ha-right).amx-ptn-border {*/
/* amx-ptn-border relies on margin, not padding, which is ordinarily fine as
    long as it's inside a flex box, but if it's inside a CSS grid,
    a different hack is needed to both honor the margin and stretch
    out to maximum width */
/*width: auto;
    left: 0px;
    right: 0px;
}*/

.amx-ptn-panel {
}

.amx-ptn-panel > .amx-ptn-fe {
    /*margin-right: 5px;
    margin-bottom: 5px;*/
}

    .amx-ptn-panel > .amx-ptn-fe:first-child {
        margin-left: 0px;
        /*margin-top: 0px;*/
    }

    .amx-ptn-panel > .amx-ptn-fe:last-child {
        margin-right: 0px;        
    }

.amx-ptn-stack-panel:not(horizontal) {
    height: auto;
    display:block;
}

    .amx-ptn-stack-panel:not(horizontal) > * {
        height: auto;
    }

.amx-ptn-stack-panel {    
    padding: 0px;
}

    .amx-ptn-stack-panel.scrollable {
        overflow-y: auto;
    }

    .amx-ptn-stack-panel.horizontal {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;

        margin-left: 0px;
        margin-right: auto !important;
        width: fit-content;
    }

        .amx-ptn-stack-panel.horizontal > .amx-ptn-fe {
            width: auto;
            /*margin-bottom: 0px;*/
        }

/*.amx-ptn-stack-panel.horizontal > * {
            margin-left: 5px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-top: 0px;
        }

            .amx-ptn-stack-panel.horizontal > *:first-child {*/
/*padding-left: 0px;*/
/*margin-left: 0px;
            }

            .amx-ptn-stack-panel.horizontal > *:last-child {*/
/*padding-right: 0px;*/
/*margin-right: 0px;
            }*/

/*.amx-ptn-stack-panel > *:first-child {
        padding-top: 0px;
        margin-top: 0px;
    }

    .amx-ptn-stack-panel > *:last-child {*/
/*padding-bottom: 0px;*/
/*margin-bottom: 0px;
    }*/

.amx-ptn-headered-grid {
    display: grid;
    grid-template-rows: auto 1fr;
}

/*.amx-ptn-headered-grid > div {
    padding: 5px;
}*/

a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0%;
    }

    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

@keyframes growFrom0 {
    0% {
        max-height: 0px;
        opacity: 0%;
    }

    100% {
        max-height: 1000px;
        opacity: 100%;
    }
}

.amx-ptn-left-entrance {
    animation: 0.5s 0s 1 slideInFromLeft;
}

.amx-ptn-grow-entrance {
    animation: 1s 0s 1 growFrom0;
}
