body {
    margin: 0px;
}

.amx-ptn-root {
    background: transparent;
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

.amx-ptn-fe {
    /*grid-row: 1;
    grid-column: 1;*/
    position: relative;
    touch-action: pan-x pan-y;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.amx-ptn-disabled .amx-ptn-fe {
    pointer-events: none;   
}

.amx-ptn-vscroll {
}

    .amx-ptn-vscroll > .amx-ptn-fe {
        overflow-y: inherit;
    }

.amx-ptn-hscroll {
}

    .amx-ptn-hscroll > .amx-ptn-fe {
        overflow-x: inherit;
    }

.amx-ptn-hstack {
    flex-direction: row;
    width: fit-content;
}

    .amx-ptn-hstack > .amx-ptn-fe:not(.amx-ptn-fe:first-child) {
        margin-left: 7px;
    }

    .amx-ptn-hstack > .amx-ptn-fe:not(.amx-ptn-fe:last-child) {
        margin-right: 7px;
    }

.amx-ptn-vstack {
    display: block;
}

    .amx-ptn-vstack > .amx-ptn-fe {
        min-height: fit-content;
    }

        .amx-ptn-vstack > .amx-ptn-fe:not(.amx-ptn-fe:first-child):not(.amx-ptn-panel) {
            margin-top: 7px;
        }

        .amx-ptn-vstack > .amx-ptn-fe:not(.amx-ptn-fe:last-child):not(.amx-ptn-panel) {
            margin-bottom: 7px;
        }

.amx-ptn-hstack > .amx-ptn-fe {
    min-width: fit-content;
}

:not(.amx-ptn-hstack).amx-ptn-vstack > .amx-ptn-ha-stretch {
    width: auto;
}

:not(.amx-ptn-hstack).amx-ptn-grid > .amx-ptn-ha-stretch {
    width: auto;
}

:not(.amx-ptn-hstack).amx-ptn-vstack > .amx-ptn-ha-left {
    margin-right: auto !important;
}

:not(.amx-ptn-hstack) > .amx-ptn-ha-right {
    margin-left: auto !important;
}

.amx-ptn-ha-left {
    width: max-content;
}

.amx-ptn-ha-right {
    width: max-content;
}

.amx-ptn-fixed-width.amx-ptn-ha-stretch {
    width: max-content;
    margin-left: auto !important;
    margin-right: auto !important;
}

:not(.amx-ptn-hstack):not(.amx-ptn-wrap-panel):not(.amx-ptn-grid):not(.amx-ptn-vstack) > .amx-ptn-ha-stretch {
    width: 100%;
}

:not(.amx-ptn-hstack):not(.amx-ptn-wrap-panel) > .amx-ptn-ha-center {
    width: max-content;
    margin-left: auto !important;
    margin-right: auto !important;
}

:not(.amx-ptn-vstack) > .amx-ptn-va-top {
    align-self: flex-start;
}

:not(.amx-ptn-vstack):not(.amx-ptn-grid) > .amx-ptn-va-stretch {
    align-self: stretch;
}

:not(.amx-ptn-vstack):not(.amx-ptn-grid) > .amx-ptn-fixed-height.amx-ptn-va-stretch {
    height: max-content;
    align-self: center;
}

:not(.amx-ptn-vstack) > .amx-ptn-va-center {
    align-self: center;
}

:not(.amx-ptn-vstack) > .amx-ptn-va-bottom {
    align-self: flex-end;
}

.amx-ptn-grid {
    display: grid;
}

.amx-ptn-fixed-width {
}

.amx-ptn-fixed-height {
}

/* For some reason this is necessary for MS DetailsList resizing and
    any other Layer's to work I guess. */
.ms-Fabric.ms-Layer-content {
    /*height: 100%;*/
}

.amx-ptn-fe .ms-List-cell {
    min-height: 0px;
}

.ms-DetailsRow-check.ms-Check-checkHost {
    height: 100%;
}

.amx-ptn-datagridcell {
    display: flex;
    height: 100%;
}

    .amx-ptn-datagridcell > .amx-ptn-ha-stretch {
        width: 100%;
    }

.amx-ptn-overlaps {
    position: absolute;
}

    .amx-ptn-overlaps.amx-ptn-ha-stretch {
        left: 0;
        right: 0;
    }

    .amx-ptn-overlaps.amx-ptn-ha-center {
        left: 50%;
        transform: translate(-50%,0);
    }

    .amx-ptn-overlaps.amx-ptn-ha-right {
        right: 0;
    }

    .amx-ptn-overlaps.amx-ptn-va-stretch {
        top: 0;
        bottom: 0;
    }

.amx-ptn-wrap-panel {
    display: flex;
    flex-wrap: wrap;    
    transform: translate(-7px,-7px);
    margin-bottom: -7px;
}

.amx-ptn-wrap-panel > .amx-ptn-fe
{
    margin-left: 7px;
    margin-top: 7px;
}

a {
    color: #0366d6;
}

code {
    color: #E01A76;
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0%;
    }

    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0%);
        opacity: 100%;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0%;
        display: none;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0%;
    }

    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0%);
        opacity: 100%;
    }

    100% {
        transform: translateX(100%);
        opacity: 0%;
        display: none;
    }
}

@keyframes growFrom0 {
    0% {
        max-height: 0px;
        opacity: 0%;
    }

    100% {
        max-height: 1000px;
        opacity: 100%;
    }
}

.amx-ptn-left-entrance {
    animation: 0.5s 0s 1 slideInFromLeft;
}

.amx-ptn-grow-entrance {
    animation: 1s 0s 1 growFrom0;
}

.amx-ptn-pdf-textlayer {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

    .amx-ptn-pdf-textlayer span {
        color: transparent;
        cursor: unset;
        position: absolute;
        font-family: monospace;
        white-space: pre;
        transform-origin: 0px 0px;
        line-height: 1;
    }

    .amx-ptn-pdf-textlayer:active > span {
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .amx-ptn-pdf-textlayer::selection {
        background: rgba(46, 112, 223, 0.2);
        color: transparent;
    }
/*
    .TextBlock
    {
        color: var(--prop-Foreground);
        font-size: var(--prop-FontSize);
        background: var(--prop-Background);
        font-family: var(--prop-FontFamily);
        font-weight: var(--prop-FontWeight);
    }*/